In [0]:
import pandas as pd
import numpy as np

In [0]:
cars1=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")
print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement  ... Unnamed: 11  Unnamed: 12  Unnamed: 13
0  18.0          8           307  ...         NaN          NaN          NaN
1  15.0          8           350  ...         NaN          NaN          NaN
2  18.0          8           318  ...         NaN          NaN          NaN
3  16.0          8           304  ...         NaN          NaN          NaN
4  17.0          8           302  ...         NaN          NaN          NaN

[5 rows x 14 columns]
    mpg  cylinders  displacement  ... model  origin                 car
0  33.0          4            91  ...    76       3         honda civic
1  20.0          6           225  ...    76       1      dodge aspen se
2  18.0          6           250  ...    76       1   ford granada ghia
3  18.5          6           250  ...    76       1  pontiac ventura sj
4  17.5          6           258  ...    76       1       amc pacer d/l

[5 rows x 9 columns]

In [0]:
cars1.to_csv("cars1.csv", index=False)
cars2.to_csv("cars2.csv", index=False)

In [0]:
cars1=cars1.loc[:, "mpg":"car"]
print(cars1.head())

    mpg  cylinders  displacement  ... model  origin                        car
0  18.0          8           307  ...    70       1  chevrolet chevelle malibu
1  15.0          8           350  ...    70       1          buick skylark 320
2  18.0          8           318  ...    70       1         plymouth satellite
3  16.0          8           304  ...    70       1              amc rebel sst
4  17.0          8           302  ...    70       1                ford torino

[5 rows x 9 columns]

In [0]:
cars1=cars1.iloc[:, 0:9]
print(cars1.head())

    mpg  cylinders  displacement  ... model  origin                        car
0  18.0          8           307  ...    70       1  chevrolet chevelle malibu
1  15.0          8           350  ...    70       1          buick skylark 320
2  18.0          8           318  ...    70       1         plymouth satellite
3  16.0          8           304  ...    70       1              amc rebel sst
4  17.0          8           302  ...    70       1                ford torino

[5 rows x 9 columns]

In [0]:
print(cars2.shape)
print(cars2.shape)

(200, 9)
(200, 9)

In [0]:
cars=cars1.append(cars2)
cars

/home/spark-8e83f53f-71aa-490b-9cb7-bb/.ipykernel/3082/command-9003033569351309-3458682206:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars=cars1.append(cars2)

      mpg  cylinders  displacement  ... model  origin                        car
0    18.0          8           307  ...    70       1  chevrolet chevelle malibu
1    15.0          8           350  ...    70       1          buick skylark 320
2    18.0          8           318  ...    70       1         plymouth satellite
3    16.0          8           304  ...    70       1              amc rebel sst
4    17.0          8           302  ...    70       1                ford torino
..    ...        ...           ...  ...   ...     ...                        ...
195  27.0          4           140  ...    82       1            ford mustang gl
196  44.0          4            97  ...    82       2                  vw pickup
197  32.0          4           135  ...    82       1              dodge rampage
198  28.0          4           120  ...    82       1                ford ranger
199  31.0          4           119  ...    82       1                 chevy s-10

[398 rows x 9 columns]

In [0]:
nr_owners=np.random.randint(15000,high=73001,size=398,dtype='I')
nr_owners

array([52137, 44643, 51361, 21680, 68016, 33156, 37881, 23639, 64104,
       43987, 32385, 40424, 46243, 27035, 38578, 16865, 18716, 23612,
       66087, 33112, 40180, 24822, 38372, 66823, 70969, 67330, 71672,
       32139, 70024, 64858, 57065, 39744, 71588, 35406, 39205, 21301,
       16286, 24157, 72871, 15511, 48205, 56849, 60958, 16743, 53513,
       57824, 64831, 71026, 61064, 62519, 69579, 47745, 40610, 25709,
       15094, 38468, 20745, 46720, 16176, 64737, 33947, 49322, 58282,
       15634, 29157, 69934, 18849, 24815, 36656, 72966, 32774, 21522,
       29137, 52453, 68560, 32560, 60142, 57418, 65409, 15646, 38475,
       57594, 21699, 70757, 59315, 44571, 33877, 20088, 56376, 15551,
       37277, 57545, 58759, 64693, 37646, 30604, 46187, 62524, 29584,
       26970, 34294, 48225, 18920, 36703, 70179, 25309, 47706, 24195,
       42145, 70309, 58498, 16877, 60433, 53043, 15234, 71329, 70971,
       20213, 31736, 38278, 21696, 25782, 60713, 59375, 18906, 36149,
       17931, 64407, 38032, 52599, 48356, 60771, 72734, 21038, 39596,
       56031, 25879, 36000, 20125, 39057, 43593, 17635, 44093, 42397,
       43926, 23101, 38314, 23656, 57790, 49560, 43762, 28730, 72392,
       43656, 39287, 55793, 31657, 17753, 69103, 55286, 18338, 25096,
       59025, 32451, 48563, 70959, 36130, 23901, 19384, 41520, 36366,
       66128, 68705, 48798, 33348, 67398, 66594, 37995, 65696, 65045,
       18287, 56013, 20102, 16182, 38071, 22853, 32917, 56764, 31066,
       49078, 67386, 63254, 18911, 65942, 18161, 20960, 69063, 25642,
       18705, 57961, 23059, 32409, 15979, 62282, 15260, 27043, 51519,
       34386, 26985, 26274, 59400, 20449, 72824, 71000, 45867, 31916,
       30179, 20966, 68480, 32465, 58484, 24982, 69483, 43230, 24029,
       23955, 70254, 41382, 35502, 61544, 26812, 23488, 71042, 41744,
       48084, 70650, 25403, 53911, 16121, 33646, 48757, 66527, 67078,
       22336, 21510, 27077, 39067, 71006, 41056, 53481, 68354, 55261,
       45308, 67747, 66304, 21685, 26268, 66810, 39955, 33087, 15155,
       23720, 15756, 19057, 22557, 42694, 50209, 60911, 21568, 40037,
       18813, 62042, 34504, 18646, 65837, 52144, 60750, 21866, 28626,
       17228, 46354, 60652, 49184, 21550, 72088, 30613, 23895, 58296,
       43034, 58369, 70675, 52389, 49331, 26088, 54723, 39654, 21771,
       31034, 25886, 23673, 47855, 70714, 64048, 63867, 30431, 56046,
       27630, 56706, 52949, 26565, 42728, 61517, 22932, 38713, 54186,
       26092, 64763, 48665, 44989, 45393, 19327, 60401, 40362, 55586,
       48790, 22271, 16373, 71832, 36078, 57489, 35758, 26946, 45605,
       16287, 16783, 45492, 37332, 15732, 43339, 31815, 67494, 66813,
       18523, 30066, 51317, 61286, 61850, 60517, 68497, 15032, 25346,
       35696, 21653, 58510, 15558, 70806, 71132, 48499, 22349, 45496,
       21044, 48292, 31685, 67929, 16547, 59826, 43966, 49559, 29955,
       60461, 51108, 56023, 53053, 45067, 33913, 46538, 61243, 23020,
       60523, 68771, 66057, 52086, 53013, 28952, 44135, 22253, 33066,
       44490, 38906, 43589, 66312, 17970, 49337, 68729, 37226, 55222,
       50932, 27749], dtype=uint32)

In [0]:
cars['owners']=nr_owners
cars.tail

<bound method NDFrame.tail of       mpg  cylinders  displacement  ... origin                        car  owners
0    18.0          8           307  ...      1  chevrolet chevelle malibu   52137
1    15.0          8           350  ...      1          buick skylark 320   44643
2    18.0          8           318  ...      1         plymouth satellite   51361
3    16.0          8           304  ...      1              amc rebel sst   21680
4    17.0          8           302  ...      1                ford torino   68016
..    ...        ...           ...  ...    ...                        ...     ...
195  27.0          4           140  ...      1            ford mustang gl   68729
196  44.0          4            97  ...      2                  vw pickup   37226
197  32.0          4           135  ...      1              dodge rampage   55222
198  28.0          4           120  ...      1                ford ranger   50932
199  31.0          4           119  ...      1                 chevy s-10   27749

[398 rows x 10 columns]>