In [0]:
import numpy as np

In [0]:
import pandas as pd

In [0]:
s1=pd.Series(np.random.randint(1,high=5,size=100,dtype='I'))
s2=pd.Series(np.random.randint(1,high=4,size=100,dtype='I'))
s3=pd.Series(np.random.randint(10000,high=30001,size=100,dtype='I'))
display(s1,s2,s3)

0     4
1     3
2     4
3     1
4     4
     ..
95    1
96    3
97    1
98    2
99    3
Length: 100, dtype: uint32

0     1
1     1
2     3
3     3
4     3
     ..
95    2
96    3
97    2
98    1
99    1
Length: 100, dtype: uint32

0     28632
1     10605
2     13886
3     10815
4     16882
      ...
95    25292
96    29178
97    29534
98    24015
99    27022
Length: 100, dtype: uint32

In [0]:
housemkt=pd.concat([s1,s2,s3],axis=1)
housemkt.head()

   0  1      2
0  4  1  28632
1  3  1  10605
2  4  3  13886
3  1  3  10815
4  4  3  16882

In [0]:
housemkt.rename(columns={0:'bedrs',1:'bathrs',2:'price_sqr_meter'},inplace=True)
housemkt.head()

   bedrs  bathrs  price_sqr_meter
0      4       1            28632
1      3       1            10605
2      4       3            13886
3      1       3            10815
4      4       3            16882

In [0]:
bigcolumn=pd.concat([s1,s2,s3],axis=0)
bigcolumn=bigcolumn.to_frame()
print(type(bigcolumn))
bigcolumn

<class 'pandas.core.frame.DataFrame'>

        0
0       4
1       3
2       4
3       1
4       4
..    ...
95  25292
96  29178
97  29534
98  24015
99  27022

[300 rows x 1 columns]

In [0]:
len(bigcolumn)

300

In [0]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn

     index      0
0        0      4
1        1      3
2        2      4
3        3      1
4        4      4
..     ...    ...
295     95  25292
296     96  29178
297     97  29534
298     98  24015
299     99  27022

[300 rows x 2 columns]