In [0]:
from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName("EmployeeDataAnalysis").getOrCreate()

In [0]:
df = spark.read.option("header", True).option("inferSchema",True).csv("/Volumes/hr_employee/default/emp_vol/employees1.csv") 
df.show()

+-----------+----------+---------+--------+------------+---------+----------+------+-----------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY| Department|
+-----------+----------+---------+--------+------------+---------+----------+------+-----------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-Jun-07|  SH_CLERK|  2600|Engineering|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-Jan-08|  SH_CLERK|  2600|  Marketing|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-Sep-03|   AD_ASST|  4400|      Sales|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-Feb-04|    MK_MAN| 13000|Engineering|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-Aug-05|    MK_REP|  6000|      Sales|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777| 7-Jun-02|    HR_REP|  6500|Engineering|
|        204|   Hermann|     Baer|   HBAER|515.123.8888| 7-Jun-02|    PR_REP| 10000|      Sales|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080| 7-Jun-02|    AC_MGR| 12008|      Sales|
|        206|   William|    Gietz|  WGIETZ|515.123.8181| 7-Jun-02|AC_ACCOUNT|  8300|  Marketing|
|        100|    Steven|     King|   SKING|515.123.4567|17-Jun-03|   AD_PRES| 24000|Engineering|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-Sep-05|     AD_VP| 17000|  Marketing|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-Jan-01|     AD_VP| 17000|  Marketing|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567| 3-Jan-06|   IT_PROG|  9000|      Sales|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-May-07|   IT_PROG|  6000|      Sales|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-Jun-05|   IT_PROG|  4800|      Sales|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560| 5-Feb-06|   IT_PROG|  4800|  Marketing|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567| 7-Feb-07|   IT_PROG|  4200|  Marketing|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-Aug-02|    FI_MGR| 12008|Engineering|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-Aug-02|FI_ACCOUNT|  9000|      Sales|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-Sep-05|FI_ACCOUNT|  8200|      Sales|
+-----------+----------+---------+--------+------------+---------+----------+------+-----------+
only showing top 20 rows

In [0]:
df.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- Department: string (nullable = true)

In [0]:
from pyspark.sql.functions import col

df = df.withColumn("Salary", col("Salary").cast("double"))
df.groupBy("Department").avg("Salary").show()

+-----------+-----------------+
| Department|      avg(Salary)|
+-----------+-----------------+
|      Sales|6317.111111111111|
|  Marketing|           6375.0|
|Engineering|           5838.0|
+-----------+-----------------+

In [0]:
df = df.withColumn("Bonus", df.Salary * 0.10) 
df.show()

+-----------+----------+---------+--------+------------+---------+----------+-------+-----------+------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID| Salary| Department| Bonus|
+-----------+----------+---------+--------+------------+---------+----------+-------+-----------+------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-Jun-07|  SH_CLERK| 2600.0|Engineering| 260.0|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-Jan-08|  SH_CLERK| 2600.0|  Marketing| 260.0|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-Sep-03|   AD_ASST| 4400.0|      Sales| 440.0|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-Feb-04|    MK_MAN|13000.0|Engineering|1300.0|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-Aug-05|    MK_REP| 6000.0|      Sales| 600.0|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777| 7-Jun-02|    HR_REP| 6500.0|Engineering| 650.0|
|        204|   Hermann|     Baer|   HBAER|515.123.8888| 7-Jun-02|    PR_REP|10000.0|      Sales|1000.0|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080| 7-Jun-02|    AC_MGR|12008.0|      Sales|1200.8|
|        206|   William|    Gietz|  WGIETZ|515.123.8181| 7-Jun-02|AC_ACCOUNT| 8300.0|  Marketing| 830.0|
|        100|    Steven|     King|   SKING|515.123.4567|17-Jun-03|   AD_PRES|24000.0|Engineering|2400.0|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-Sep-05|     AD_VP|17000.0|  Marketing|1700.0|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-Jan-01|     AD_VP|17000.0|  Marketing|1700.0|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567| 3-Jan-06|   IT_PROG| 9000.0|      Sales| 900.0|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-May-07|   IT_PROG| 6000.0|      Sales| 600.0|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-Jun-05|   IT_PROG| 4800.0|      Sales| 480.0|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560| 5-Feb-06|   IT_PROG| 4800.0|  Marketing| 480.0|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567| 7-Feb-07|   IT_PROG| 4200.0|  Marketing| 420.0|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-Aug-02|    FI_MGR|12008.0|Engineering|1200.8|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-Aug-02|FI_ACCOUNT| 9000.0|      Sales| 900.0|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-Sep-05|FI_ACCOUNT| 8200.0|      Sales| 820.0|
+-----------+----------+---------+--------+------------+---------+----------+-------+-----------+------+
only showing top 20 rows

In [0]:
df.filter(df.Salary > 70000).show()

+-----------+----------+---------+-----+------------+---------+------+------+----------+-----+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|Salary|Department|Bonus|
+-----------+----------+---------+-----+------------+---------+------+------+----------+-----+
+-----------+----------+---------+-----+------------+---------+------+------+----------+-----+

In [0]:
df.groupBy("Department").avg("Salary").display()

Department,avg(Salary)
Sales,6317.111111111111
Marketing,6375.0
Engineering,5838.0